[submodule "Inbox"]
	path = Inbox
	url = git@github.com:rajeshsatpathy1/Inbox.git
[submodule "Lottery"]
	path = Lottery
	url = git@github.com:rajeshsatpathy1/Lottery.git
[submodule "lottery_react"]
	path = lottery_react
	url = git@github.com:rajeshsatpathy1/lottery_react.git
[submodule "kickstarter"]
	path = kickstarter
	url = git@github.com:rajeshsatpathy1/kickstarter.git
